@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=League+Spartan&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  background-color: hsl(180, 52%, 96%);
  font-size: 15px;
}